*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1d035a;
  --stopwatch-bg-color: #1d035a;
  --main-accent-color: #e07218;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
}

.stopwatch {
  background-color: var(--stopwatch-bg-color);
  width: 200px;
  height: 200px;
  border: 5px solid var(--main-accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
}

.stopwatch:active {
  scale: 0.98;
}

.start-buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.time span, p {
  font-size: 1.5rem;
}

button {
  border: 2px solid var(--main-accent-color);
  border-radius: 200px;
  background-color: var(--stopwatch-bg-color);
  color: var(--main-accent-color);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 100px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}
